---
layout: default
title: "Research"
---
<!-- Page Title
================================================== -->
<div id="page-title">

    <div class="row">

        <div class="ten columns centered text-center">
            <h1>Research</h1>

            <p>Current areas of active exploration.</p>
        </div>

    </div>

</div>
<!-- Page Title End-->

<!-- Content
   ================================================== -->
<div class="content-outer">

    <div id="page-content" class="row">

        <div class="twelve columns">
            <div class="post">
            
                {% for project in site.projects %}
                    
                    <!-- Entry -->
                    <article class="row entry">
                    
                        <div class="entry-header">
                            
                            <div class="ten columns entry-title pull-right">
                                <h3><a href={{ project.url }}>{{ project.project_title }}</a></h3>
                            </div>
                    
                            <div class="two columns post-meta end">
                                <h5 style="color: #E63946;">Tags</h5>
                                {% for tag in project.tags %}
                                    <span style="color:#FFBF00; font-family: notosans-bold; padding-right: 20px;">{{ tag }}</span>
                                {% endfor %}
                            </div>
                    
                        </div>
                    
                        <div class="ten columns offset-2 post-content">
                            {{ project.excerpt }}
                            </br>
                            <a class="more-link" href={{ project.url }}>Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    
                    </article>
                    <hr>
    
                {% endfor %}
            
            </div>
            <!-- primary end-->
        </div>

    </div>

</div>
<!-- content End-->