<!-- Header
================================================== -->
<header>
    
    <div class="row">

        <div class="twelve columns">

            <div class="logo">
                <a href="{{ site.baseurl }}/" style="font-family: raleway-bold; font-size: 20px; color: #FFBF00;">
                    <!-- <span style="font-family: notosans-bold; font-size: 10px; color:#F1FAEE;"> -->
                    <!--    Department of Surgery -->
                    <!-- </span></br> -->
                    S<span style="color: #F1FAEE;">ugiyama </span>
                    R<span style="color: #F1FAEE;">esearch </span>
                    G<span style="color: #F1FAEE;">roup</span>
                </a>
            </div>

            <nav id="nav-wrap">

                <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                <ul id="nav" class="nav">
                    {% if page.title == "SRG" %}
                    <li class="current">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ site.baseurl }}/">Home</a></li>
                    {% if page.title == "About Us" %}
                    <li class="current">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ site.baseurl }}/about">About</a></li>
                    {% if page.title == "People" %}
                    <li class="current">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ site.baseurl }}/people">People</a></li>
                    {% if page.title == "Research" %}
                    <li class="current">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ site.baseurl }}/research">Research</a></li>
                    {% if page.title == "Publications" %}
                    <li class="current">
                    {% else %}
                    <li>
                    {% endif %}    
                        <a href="{{ site.baseurl }}/publications">Publications</a></li>
                    
                </ul>
                <!-- end #nav -->

            </nav>
            <!-- end #nav-wrap -->

        </div>

    </div>

</header>
<!-- Header End -->