---
layout: default
title: "Publications"
---
<!-- Page Title
================================================== -->
<div id="page-title">

    <div class="row">

        <div class="ten columns centered text-center">
            <h1>Publications</h1>
            <p>Selection of our work that has been published in peer reviewed journals.</p>
        </div>

    </div>

</div>
<!-- Page Title End-->

<!-- Content
   ================================================== -->
<div class="content-outer">

    <div id="page-content" class="row portfolio">

        <div class="row">

            <div class="twelve columns">
                <!-- List publications by year -->
                <div class="publications">
                    {% assign y = "on" %}
                    <ul>
                        {% for publication in site.publications %}
                            {% if publication.year == "2016" %}
                                {% if y == "on" %}<h3>2016</h3>{% endif %}{% assign y = "off" %}
                                <li>
                                    <a href={{ publication.pubmed }}>{{ publication.reference }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% assign y = "on" %}
                    <ul>
                        {% for publication in site.publications %}
                            {% if publication.year == "2015" %}
                                {% if y == "on" %}<h3>2015</h3>{% endif %}{% assign y = "off" %}
                                <li>
                                    <a href={{ publication.pubmed }}>{{ publication.reference }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% assign y = "on" %}
                    <ul>
                        {% for publication in site.publications %}
                            {% if publication.year == "2014" %}
                                {% if y == "on" %}<h3>2014</h3>{% endif %}{% assign y = "off" %}
                                <li>
                                    <a href={{ publication.pubmed }}>{{ publication.reference }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- primary end-->

    </div>

</div>
<!-- content End-->